.swiper {
    max-width: 1140px;
    margin: 3rem auto;
}

.swipper-wrapper {
    display: flex;
    justify-content: center;
}

.image-slider {
    text-align: center;
}

.image-slider img {
    max-width: 100%;
}

.swiper-pagination-bullet {
    width: 1rem;
    height: 1rem;
    background-color: white;
    opacity: 1;
    font-size: 1rem;
}

.swiper-pagination-bullet-active {
    color: #fff;
    background: #00fc2a;
}


.swiper-button-prev::after,
.swiper-button-next::after {
    color:#00fc2a;
    font-size: 4rem;
}