.swiper-container {
    height: 9rem;
}

.swiper-pagination-bullet {
    width: .8rem;
    height: .8rem;
    background-color: black;
    opacity: 1;
    font-size: .8rem;
}

.swiper-pagination-bullet-active {
    color: #fff;
    background: #00fc2a;
}


.swiper-button-prev::after,
.swiper-button-next::after {
    z-index: 10;
    color:#00fc2a;
    font-size: 4rem;
}